body {
    min-height: 100vh;
    background-color: #fff;
    font-family: 'Krona One', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

footer {
    position: absolute;
    font-size: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.black {
    color: black;
}
.black:hover {
    color: red;
}
