<footer class='footer bg-inverse'>
    <hr>
        <!-- <div class="text-center center-block">
            <br />
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="https://linkedin.com/in/enverablaiev"><i id='social-li' class="fab fa-linkedin fa-3x social"></i>
                <a href="https://github.com/Enver92"><i id="social-gh" class="fab fa-git-square fa-3x social"></i></a>
	            <a href="mailto:enverablaiev@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div> -->

        <!--Social buttons-->
          <div class="text-center">
              <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"><a href="https://www.facebook.com/enverablaiev" class="btn-floating btn-sm btn-fb mx-1" target="_blank"><i class="fa fa-facebook black"> </i></a></li>
                  <li class="list-inline-item"><a class="btn-floating btn-sm btn-tw mx-1" target="_blank"><i class="fa fa-twitter"> </i></a></li>
                  <li class="list-inline-item"><a href="https://plus.google.com/109569593435108435205" class="btn-floating btn-sm btn-gplus mx-1" target="_blank"><i class="fa fa-google-plus black"> </i></a></li>
                  <li class="list-inline-item"><a href="https://linkedin.com/in/enverablaiev" class="btn-floating btn-sm btn-li mx-1" target="_blank"><i class="fa fa-linkedin black"> </i></a></li>
                  <li class="list-inline-item"><a href="https://github.com/Enver92" class="btn-floating btn-sm btn-dribbble mx-1" target="_blank"><i class="fa fa-github black"> </i></a></li>
              </ul>
          </div>
          <!--/.Social buttons-->
</footer>
